services:
  web:
    build: 
      context: .
      dockerfile: ./Docker/Dockerfile
    ports:
      - "7000:7000"
    depends_on:
      - db 
  db:
    build: 
      context: .
      dockerfile: ./Docker/Dockerfile.db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

    